$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "_fonts.scss";
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 0.15s linear 0s;
  -moz-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  -ms-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}

a:focus {
  outline: medium none;
  text-decoration: none;
}

a img {
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

form input:focus::-webkit-input-placeholder {
  color: transparent
}

form input:focus:-moz-placeholder,
form input:focus::-moz-placeholder {
  color: transparent
}

form input:focus:-ms-input-placeholder {
  color: transparent
}

body {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#header-promotion {
  padding-top: 10px;
  .navigation {
    margin-top: 30px;
    ul {
      padding: 0;
      li {
        display: inline-block;
        a {
          margin: 0 10px;
          font-size: 1.8rem;
          text-decoration: none;
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          color: #747474;
          &:hover {
            color: #37beef;
          }
        }
        .services-nav {
          margin-left: 0;
        }
        .blog-nav {
          margin-right: 0;
        }
      }
    }
    .dropdown-inside {
      display: none;
      position: absolute;
      background-image: url("../images/menu_vp (2).png");
      background-repeat: no-repeat;
      background-position: top;
      width: 658px;
      height: 227px;
      z-index: 1637;
      li {
        position: absolute;
        a {
          color: #56c2fb;
          font-size: 1.2rem;
          // font-family: MyriadPro-Regular, sans-serif;
          font-family: "Open Sans", sans-serif;
        }
      }
      #inside-first-link {
        top: 90px;
        left: 20px;
      }
      #inside-second-link {
        top: 120px;
        left: 20px;
      }
      #inside-third-link {
        top: 150px;
        left: 20px;
      }
      #web-develop {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 1.7rem;
        top: 50px;
        left: 50px;
        text-transform: uppercase;
      }
      #promotion {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 1.7rem;
        top: 50px;
        left: 360px;
        text-transform: uppercase;
        #promotion-seo {
          color: #56c2fb;
          font-size: 1.2rem;
          // font-family: MyriadPro-Regular, sans-serif;
          text-transform: uppercase;
        }
      }
      #promotion-seo {
        top: 90px;
        left: 320px;
      }
      #promotion-reklama {
        top: 120px;
        left: 320px;
      }
      #promotion-youtube {
        top: 150px;
        left: 320px;
      }
      #promotion-instagram {
        top: 180px;
        left: 320px;
      }
      .graff {
        position: absolute;
        top: 130px;
        left: 575px;
      }
    }
    .dropdown-inside-services {
      display: none;
      left: -25px;
      position: absolute;
      background-image: url("../images/menu_vp (2).png");
      background-repeat: no-repeat;
      background-position: top;
      width: 658px;
      height: 227px;
      z-index: 1637;
      li {
        position: absolute;
        a {
          color: #56c2fb;
          font-size: 1.2rem;
          // font-family: MyriadPro-Regular, sans-serif;
        }
      }
      #inside-first-link {
        top: 90px;
        left: 20px;
      }
      #inside-second-link {
        top: 120px;
        left: 20px;
      }
      #inside-third-link {
        top: 150px;
        left: 20px;
      }
      #web-develop {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 1.7rem;
        top: 50px;
        left: 50px;
        text-transform: uppercase;
      }
      #promotion {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 1.7rem;
        top: 50px;
        left: 360px;
        text-transform: uppercase;
        #promotion-seo {
          color: #56c2fb;
          font-size: 1.2rem;
          // font-family: MyriadPro-Regular, sans-serif;
          text-transform: uppercase;
        }
      }
      #promotion-seo {
        top: 90px;
        left: 320px;
      }
      #promotion-reklama {
        top: 120px;
        left: 320px;
      }
      #promotion-youtube {
        top: 150px;
        left: 320px;
      }
      #promotion-instagram {
        top: 180px;
        left: 320px;
      }
      .graff {
        position: absolute;
        top: 130px;
        left: 575px;
      }
    }
  }
  .additionally {
    color: #37beef;
    // font-family: MyriadPro-Regular, sans-serif;
    font-size: 2.2rem;
    position: relative;
    margin-top: 23px;
    .phone {
      text-decoration: none;
      color: #3ac1f0;
    }
    .viber img {
      margin-bottom: 5px;
    }
    .skype {
      margin: 0 10px;
      img {
        margin-bottom: 5px;
      }
    }
  }
  .top-line {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

#header {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 650px;
  .header-top-banner {
    visibility: hidden;
    margin-top: -2px;
  }
  .heading {
    margin-top: 50px;
    h2 {
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 6.5rem;
      background-color: rgba(0, 0, 0, .6);
      padding: 5px 30px;
    }
    h1 {
      color: #00b7f3;
      display: inline-block;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
      font-size: 8rem;
      background-color: rgba(0, 0, 0, .6);
      padding: 5px 30px;
      margin-top: -10px;
    }
  }
  .header-link {
    margin-top: 60px;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 3rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      letter-spacing: 1em;
      b {
        font-weight: 800;
        border-bottom: 1px solid #fff;
      }
      &:hover {
        color: #00b7f3;
      }
    }
  }
}

#formulation_problem {
  .heading {
    margin-top: 20px;
    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 5rem;
      color: #5d5853;
      &>span {
        color: #00b7f3;
      }
    }
  }
  .kardio {
    margin-top: 25px;
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3rem;
      img {
        margin-right: 25px;
      }
    }
    p {
      margin: 5px 0 0 70px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 2.2rem;
    }
  }
  .handshake {
    span {
      img {
        margin-left: -17px;
      }
    }
  }
}

#etap-one {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 200px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 200px;
    }
  }
  margin-top: 50px;
  .heading {
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3.3rem;
      line-height: 30px;
    }
    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      // line-height: 35px;
    }
  }
  .about-logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .vinkor-presents {
    margin-top: 30px;
  }
}

#etap-two {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 200px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 200px;
    }
  }
  margin-top: 10px;
  .heading {
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3.3rem;
      line-height: 30px;
    }
    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      // line-height: 35px;
    }
  }
  .shtoorm-mind {
    margin-top: 35px;
    .unical {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #222222;
      font-size: 3.3rem;
      img {
        margin-right: 15px;
      }
    }
  }
  .shtoorm-mind-two {
    .mind {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #222222;
      font-size: 3.3rem;
      img {
        margin-left: 15px;
      }
    }
  }
  .shtoorm-mind-three {
    margin-top: 10px;
    .special-offer {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #222222;
      font-size: 3.3rem;
      img {
        margin-right: 15px;
      }
    }
  }
}

#etap-three {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 200px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 200px;
    }
  }
  margin-top: 40px;
  .heading {
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3.3rem;
      line-height: 30px;
    }
    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      // line-height: 35px;
    }
  }
  .vinky {
    margin-top: 30px;
    span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      text-transform: uppercase;
      img {
        margin-right: 15px;
      }
    }
    .vinky-one {
      margin-bottom: 10px;
    }
  }
  .prototype {
    margin-top: 30px;
  }
}

#etap-four {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 200px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 200px;
    }
  }
  margin-top: 40px;
  .heading {
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3.3rem;
      line-height: 30px;
    }
    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      // line-height: 35px;
    }
  }
  .vinky {
    margin-top: 30px;
    span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      text-transform: uppercase;
      img {
        margin-right: 15px;
      }
    }
    .vinky-one {
      margin-bottom: 10px;
    }
  }
  .prototype {
    margin-top: 30px;
  }
  .big-vinkor {
    margin-top: 50px;
  }
}

#form-toppromo {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: url("../images/bg-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .heading {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    b {
      font-weight: 800;
    }
  }
  .name-wrap {
    margin-top: 15px;
    #name-form {
      height: 46px;
      border: transparent;
      padding: 6px 12px;
      color: #747474;
      width: 270px;
      font-size: 1.8rem;
      text-transform: none;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
    }
  }
  .number-wrap {
    margin-top: 15px;
    #number-form {
      height: 46px;
      border: transparent;
      padding: 6px 12px;
      color: #747474;
      width: 270px;
      font-size: 1.8rem;
      text-transform: none;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
    }
  }
  .button-wrap {
    margin-top: 15px;
    button {
      height: 45px;
      border: transparent;
      width: 270px;
      border-radius: 5px;
      background-image: url("../images/button.png");
      color: #edfecf;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.4rem;
      &:hover {
        border: 1px solid #005774;
      }
    }
  }
}

#etap-five {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 200px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 200px;
    }
  }
  margin-top: 40px;
  .heading {
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3.3rem;
      line-height: 30px;
    }
    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      // line-height: 35px;
    }
  }
  .vinky {
    margin-top: 30px;
    span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      text-transform: uppercase;
      img {
        margin-right: 15px;
      }
    }
    .vinky-one {
      margin-bottom: 10px;
    }
  }
  .browser {
    margin-top: 20px;
    img {
      margin-right: 40px;
    }
  }
  .link {
    margin-top: 30px;
    a {
      color: #abaaaa;
      text-decoration: none;
      font-size: 3rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      letter-spacing: 1.8em;
      // b {
      //   font-weight: 800;
      //   border-bottom: 1px solid #fff;
      // }
      &:hover {
        color: #00b7f3;
      }
    }
  }
}

#adaptive {
  margin-top: 20px;
  background-image: url("../images/worker.jpg");
  background-size: cover;
}

#etap-five-next {
  .vinky {
    margin-top: 30px;
    span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      text-transform: uppercase;
      img {
        margin-right: 15px;
      }
    }
    .vinky-one {
      margin-bottom: 10px;
    }
  }
  .mobile-platform {
    margin-top: 15px;
    img {
      margin-right: 40px;
    }
  }
}

#etap-six {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 200px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 200px;
    }
  }
  margin-top: 40px;
  .heading {
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3.3rem;
      line-height: 30px;
    }
    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      // line-height: 35px;
    }
  }
  .vinky {
    margin-top: 30px;
    span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      text-transform: uppercase;
      img {
        margin-right: 15px;
      }
    }
    .vinky-one {
      margin-bottom: 20px;
    }
    .vinky-two {
      margin-bottom: 30px;
    }
  }
}

#etap-six-next {
  padding-top: 30px;
  background-image: url("../images/etap-six-bg.png");
  background-size: cover;
}

#form-toppromo-next {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  // background-image: url("../images/bg-form.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  .heading {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    b {
      font-weight: 800;
    }
  }
  .name-wrap {
    margin-top: 15px;
    #name-form {
      height: 46px;
      border: transparent;
      padding: 6px 12px;
      color: #747474;
      width: 270px;
      font-size: 1.8rem;
      text-transform: none;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
    }
  }
  .number-wrap {
    margin-top: 15px;
    #number-form {
      height: 46px;
      border: transparent;
      padding: 6px 12px;
      color: #747474;
      width: 270px;
      font-size: 1.8rem;
      text-transform: none;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
    }
  }
  .button-wrap {
    margin-top: 15px;
    button {
      height: 45px;
      border: transparent;
      width: 270px;
      border-radius: 5px;
      background-image: url("../images/button.png");
      color: #edfecf;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.4rem;
      &:hover {
        border: 1px solid #005774;
      }
    }
  }
}

#etap-seven {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 200px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 200px;
    }
  }
  margin-top: 40px;
  .heading {
    margin-bottom: 20px;
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3.3rem;
      line-height: 30px;
    }
    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Open Sans";
      font-weight: 400;
      // line-height: 35px;
    }
  }
  .full-functional {
    margin-top: 20px;
    img {
      float: left;
      margin-right: 30px;
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #222222;
      font-size: 1.8rem;
      &>span {
        color: #00b7f3;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        font-size: 2.4rem;
      }
    }
  }
}

#etap-eight {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 200px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 200px;
    }
  }
  margin-top: 40px;
  .heading {
    margin-bottom: 20px;
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3.3rem;
      line-height: 30px;
    }
    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Open Sans"sans-serif;
      font-weight: 400;
      // line-height: 35px;
    }
  }
  .vinky {
    margin-top: 30px;
    span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      text-transform: uppercase;
      img {
        margin-right: 15px;
      }
    }
    .vinky-one {
      margin-bottom: 20px;
    }
    .vinky-two {
      margin-bottom: 30px;
    }
    .vinky-float {
      img {
        float: left;
        margin-top: 2px;
        margin-bottom: 7px;
      }
    }
  }
}

#etap-nine {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 200px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 200px;
    }
  }
  margin-top: 40px;
  .heading {
    margin-bottom: 20px;
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #00b7f3;
      font-size: 3.3rem;
      line-height: 30px;
    }
    small {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Open Sans";
      font-weight: 400;
      // line-height: 35px;
    }
  }
  .vinky {
    margin-top: 10px;
    span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      text-transform: uppercase;
      img {
        margin-right: 15px;
      }
    }
    .vinky-one {
      margin-bottom: 20px;
    }
    .vinky-two {
      margin-bottom: 30px;
    }
    .vinky-float {
      img {
        float: left;
        margin-top: 2px;
        margin-bottom: 7px;
      }
    }
  }
  .card-block {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .blank {
    margin-top: 20px;
  }
  .folder-paper {
    margin-top: 40px;
  }
  .converty {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .brandbook-picture {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .vinkor-banner-line-one {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .vinkor-banner-line-two {
    margin-bottom: 40px;
  }
}

#work-is-ongoing {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 450px;
      height: 55px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 450px;
      height: 55px;
    }
  }
  margin-top: 10px;
  .heading {
    display: inline-block;
    margin-top: 25px;
    .out {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 5rem;
      line-height: 1px;
      color: #5d5853;
      &>span {
        color: #00b7f3;
      }
    }
  }
  .seo-analyzer {
    margin-top: 30px;
    .seo-analyzer-in {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #222222;
      font-size: 3rem;
      img {
        margin-right: 15px;
      }
    }
  }
  .notepad {
    margin-top: 30px;
    .notepad-in {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #222222;
      font-size: 3rem;
      img {
        margin-left: 15px;
      }
    }
  }
}

#client-gets {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 450px;
      height: 55px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 450px;
      height: 55px;
    }
  }
  margin-top: 40px;
  .heading {
    display: inline-block;
    margin-top: 25px;
    .out {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 5rem;
      line-height: 1px;
      color: #5d5853;
      &>span {
        color: #00b7f3;
      }
    }
  }
  .vinky {
    margin-top: 30px;
    span {
      .counter,
      .counter-two {
        font-weight: 800;
        color: #00b7f3;
        font-size: 3.5rem;
      }
      display: inline-block;
      font-family: "Open Sans",
      sans-serif;
      font-weight: 400;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-transform: uppercase;
      img {
        margin-right: 15px;
      }
      b {
        font-weight: 800;
        color: #00b7f3;
        font-size: 2.8rem;
      }
    }
    .vinky-one {
      margin-top: 20px;
    }
    .vinky-two {
      margin-bottom: 30px;
    }
    .vinky-float {
      img {
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .not-speak {
    margin-top: 20px;
    i {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
    }
  }
}

#our-time {
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 450px;
      height: 55px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 450px;
      height: 55px;
    }
  }
  .heading {
    display: inline-block;
    margin-top: 25px;
    .out {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 5rem;
      line-height: 1px;
      color: #5d5853;
      &>span {
        color: #00b7f3;
      }
    }
  }
  margin-top: 30px;
  .our-time-title {
    color: #3b3b3b;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 5rem;
    img {
      margin-right: 15px;
    }
  }
  .manager {
    margin-top: 40px;
    > span {
      color: #3b3b3b;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 3rem;
      img {
        margin-right: 15px;
      }
    }
    .card {
      img {
        margin-bottom: 10px;
        margin-top: 20px;
      }
      p {
        color: #070707;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        .about {
          text-transform: uppercase;
        }
      }
    }
  }
  .web-developer {
    margin-top: 15px;
    > span {
      color: #3b3b3b;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 3rem;
      img {
        margin-right: 15px;
      }
    }
    .card {
      img {
        margin-bottom: 10px;
        margin-top: 20px;
      }
      p {
        color: #070707;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        .about {
          text-transform: uppercase;
        }
      }
    }
  }
}

#our-work {
  margin-top: 30px;
  .papka {
    margin-top: 50px;
    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 5rem;
      color: #4e4e50;
      margin-top: 30px;
      a {
        font-size: 1.6rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #39c1f0;
        margin-left: 30px;
        border-bottom: 1px solid #39c1f0;
        text-decoration: none;
      }
      img {
        margin-bottom: 10px;
        margin-right: 20px;
      }
    }
  }
  position: relative;
  .img-left-blue {
    position: absolute;
    left: 0;
    z-index: -2;
    img {
      width: 450px;
      height: 55px;
    }
  }
  .img-right-grey {
    position: absolute;
    z-index: -2;
    right: 0;
    img {
      width: 450px;
      height: 55px;
    }
  }
  .heading {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 30px;
    .out {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 5rem;
      line-height: 1px;
      color: #5d5853;
      &>span {
        color: #00b7f3;
      }
    }
  }
  .itcompanion,
  .dombox,
  .vinkor,
  .villabriketa,
  .workdog,
  .la-ferme {
    margin-top: 40px;
    p {
      text-align: center;
      // font-family: OpenSans-Italic, sans-serif;
      font-family: "Open Sans", sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 1.5rem;
      a {
        color: #6f6f71;
        border-bottom: 1px solid #6f6f71;
        text-decoration: none;
      }
    }
    span {
      color: #5ecdf3;
    }
  }
  .portfolio a {
    color: #39c1f0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    border-bottom: 2px solid #39c1f0;
  }
}

#business_profitable {
  margin-top: 40px;
  p {
    color: #39c1f0;
    text-transform: uppercase;
    // font-family: OpenSans, sans-serif;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 45px;
    margin-bottom: 15px;
    b {
      // font-family: OpenSans-Bold, sans-serif;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
    }
  }
  .number-phone {
    span {
      color: #39c1f0;
      font-size: 7rem;
      b {
        font-size: 9rem;
      }
    }
    a {
      text-decoration: none;
    }
  }
  #free_consultation {
    input[type=text] {
      border: 2px solid #999;
      outline: none;
      border-radius: 5px;
      width: 400px;
      height: 60px;
      color: #999;
      font-size: 2.4rem;
      padding-left: 20px;
      margin-top: 15px;
    }
    button {
      width: 400px;
      height: 60px;
      border: none;
      outline: none;
      background-color: #39c1f0;
      border-radius: 15px;
      margin-left: 30px;
      // font-family: OpenSans, sans-serif;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      font-size: 2.4rem;
      b {
        // font-family: OpenSans-Extrabold, sans-serif;
        font-weight: 800;
      }
      &:hover {
        background-color: #59cbf2;
      }
    }
    p {
      color: #929292;
      font-size: .9rem;
      // font-family: SegoeUI, sans-serif;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }
  }
  .social-icon {
    margin-top: 30px;
    margin-bottom: 30px;
    a {
      margin-left: 50px;
      &:first-child {
        margin-left: 0;
      }
    }
    .sprite {
      background-image: url(../images/spritesheet.png);
      background-repeat: no-repeat;
      display: inline-block;
    }
    .sprite-facebook {
      width: 49px;
      height: 48px;
      background-position: -5px -5px;
    }
    .sprite-instagram {
      width: 48px;
      height: 49px;
      background-position: -64px -5px;
    }
    .sprite-ok {
      width: 49px;
      height: 48px;
      background-position: -122px -5px;
    }
    .sprite-twitter {
      width: 49px;
      height: 48px;
      background-position: -181px -5px;
    }
    .sprite-vk {
      width: 49px;
      height: 49px;
      background-position: -240px -5px;
    }
  }
  .widget-insta {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#footer-copyright {
  background-color: #b8b8b8;
  .logo-footer {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .footer-number {
    color: #fff;
    font-size: 2.5rem;
    font-family: OpenSans, sans-serif;
    line-height: 40px;
    margin-top: 30px;
  }
  .footer-mail,
  .footer-number b {
    font-family: OpenSans-Bold, sans-serif;
  }
  .footer-mail {
    color: #fff;
    font-size: 2rem;
    // line-height: 90px
    display: inline-block;
    margin-top: 42px;
  }
  .footer-web-studio {
    color: #fff;
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 30px;
    a {
      color: #fff;
      border-bottom: 1px solid #fff;
      text-decoration: none;
    }
  }
}

@import "_media.scss";
